---
import Layout from '../layouts/Layout.astro';
---

<Layout title="SRFL | Home">
    <div style="height: 200vh; padding: 2rem;">
        <h1>Home Page Test</h1>
        <p>This is our new official site!</p>
		<p>French version reserved...</p>
    </div>
</Layout>